/*Google Fonts Link*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
/* Common Styeles or Utility */
body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
}
.main-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  background-color: #ffffff;
  border-radius: 5px;
  width: 870px;
  padding: 30px;
  margin-top: 21px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}
/* Top Players Style Starts */
.top-playrs{
    margin-bottom: 30px;
}
.section-title {
  color: #562eff;
  font-size: 24px;
  margin-top: 3px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-row-gap: 30px;
}
.player {
  display: flex;
  align-items: center;
}
.player img {
  width: 56px;
  height: 56px;
}
.players-name{
    margin-left: 16px;
    font-size: 18px;
}
/* Top Players Style Ends */
/* Top Blogs Style Starts */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}
.blog{
    display: flex;
}
.blog .thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    color:  #9F9F9F;
    font-size: 16px;
}
.blog-author a{
    text-decoration: none;
    color: #562EFF;
    font-size: 16px;
}
/* Top Blogs Style Ends */
/* Courses Style Starts */
.courses{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
}
.course .courses-banner img{
    width: 224px;
    height: 104px;
}
.course-detail .course-author a{
  text-decoration: none;
}
.course-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fa-star{
  font-size: 12px;
}
.fa-star.filled{
  color: #FFC014;
}
.fa-star.empty{
  color: #AEAEAE;
}
.course-duration{
  background-color: #FFE4E8;
  padding: 3px;
  border-radius: 14px;
}
.course-duration, .fa-clock{
  color: #FF4A60;
}
/* Courses Style Ends */
/* Media Queries Starts*/
/* Mobile devices */
@media screen and (max-width: 688px){
  .container{
    width: 100%;
  }
  .players, .blogs, .courses{
    grid-template-columns: repeat(1, 1fr);
  }
  .player, .blog {
    flex-direction: column;
    /* align-items: center; */
  }
}
/* tablet devices */
@media screen and (min-width: 688px) and (max-width: 992px) {
  .container{
    width: 100%;
  }
  .players, .courses{
    grid-template-columns: repeat(2, 1fr);
  }
  }
  .blogs{
    grid-template-columns: repeat(1, 1fr);
  }

  
}
/* Media Queries Ends*/